HELP.md
build/
!**/src/main/**
!**/src/test/**

bin/*
work/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### gradle ###
.gradle
gradle/wrapper/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/dist/
/nbdist/

### node ###
**/node_modules/

### vue ###
.editorconfig
.babelrc
.gitkeep

### vue after build ###
src/main/resources/static/
/bin/
