<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- Console Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{[yyyy.MM.dd HH:mm:ss]} [%-35.35c{1}] %-5p %m%n</pattern>
		</encoder>
	</appender>

	<!-- Spring -->
	<logger name="org.springframework"  level="WARN"  additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.core" level="INFO" additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.beans" level="INFO"  additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.context" level="INFO" additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.http" level="DEBUG" additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.web" level="DEBUG"  additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.security" level="INFO" additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" level="DEBUG" additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG"  additivity="false" >
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.test.web.servlet" additivity="false"  level="DEBUG" >
		<appender-ref ref="console" />
	</logger>
	<!-- [End] Spring log -->

	<!-- SQL log -->
	<logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="jdbc" level="ERROR" additivity="false" >
		<appender-ref ref="console" />
	</logger>

	<logger name="jdbc.sqlonly" level="TRACE"  additivity="false">
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.resultsettable" level="INFO" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="access" level="TRACE" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- ERROR -->
	<logger name="error" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- User Class -->
	<logger name="kr.co.jinbid.cslt" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- Root INFO declaration -->
	<root level="INFO" additivity="false">
		<appender-ref ref="console" />
    </root>
</configuration>