<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.MenuMapper">

	<select id="select" parameterType="MenuVO" resultType="MenuVO">
		SELECT id, menu_nm, menu_url, is_use, p_id
		FROM menu
		WHERE id = #{id}
	</select>
	
	<select id="selectList" parameterType="MenuVO" resultType="MenuVO">
		SELECT 	id, menu_nm, menu_url, is_use, p_id
		FROM 	menu
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="use">AND isUse = 1</if>
			<if test="menuNm!=null">AND menu_nm like '%'||#{menuUm}||'%'</if>
		</trim>
	</select>
	
	<insert id="insert" parameterType="MenuVO">
		INSERT INTO menu
			(menu_nm, menu_url, is_use, p_id)
		VALUES
			(#{menuNm}, #{menuUrl}, 1, #{pId})
	</insert>
	
	<update id="update" parameterType="MenuVO">
		UPDATE menu
		<trim prefix="SET" suffixOverrides=",">
			<if test="!use"> is_use = 0</if>
			<if test="use">
				menu_nm = #{menuNm},			
				menu_url = #{menuUrl},
				p_id = #{p_id}
			</if>
		</trim>
		WHERE id = #{id}
	</update>
	
	
</mapper>